src/main/app/dyn_choice_routing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	<flow name="dyn_choice_routingFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/greet" doc:name="HTTP"/>
		<set-payload value="#[message.inboundProperties.'http.query.params'.username], #[message.inboundProperties.'http.query.params'.age], #[message.inboundProperties.'http.query.params'.age&gt;18], " doc:name="Set Payload"/>
		<file:outbound-endpoint path="/Users/nziemaraangnzienguiboussougou/Desktop/MUFundamentals3.9_studentFiles_13apr2020/dat_File" responseTimeout="10000" doc:name="File"/>
		<choice doc:name="Choice">
			<when expression="#[(message.inboundProperties.'http.query.params'.username==empty) &amp;&amp; (message.inboundProperties.'http.query.params'.age==empty)]">
				<set-payload value="#['No data entered']" doc:name="Set Payload no data"/>
			</when>
			<when expression="#[(message.inboundProperties.'http.query.params'.username==empty) || (message.inboundProperties.'http.query.params'.age==empty)]">
				<set-payload value="#['There one missing Data']" doc:name="Set Payload missing data"/>
			</when>
			<otherwise>
				<set-payload value="Hi, here is your data, #[(message.inboundProperties.'http.query.params'.username)||('stranger')]" doc:name="Set Payload all the data"/>
			</otherwise>
		</choice>
	</flow>
</mule>
